/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_self
*/
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  line-height: 1.42;
  letter-spacing: 0.23px; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

.footer-container {
  float: left;
  box-sizing: border-box; }

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.row {
  width: 50%; }

header {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  color: #333333; }
  header .logo {
    width: 250px;
    height: 70px;
    padding: 0px 20px;
    border-right: 1px solid #ebebeb; }
  header .discover-nav {
    font-size: 15px; }
    header .discover-nav .search {
      margin: 0px 10px;
      width: 80px; }
    header .discover-nav strong {
      font-weight: 700;
      margin-left: 5px; }
    header .discover-nav ul {
      display: flex; }
    header .discover-nav li {
      margin: 0px 10px;
      font-weight: 300;
      width: 60px;
      height: 70px;
      text-align: center;
      line-height: 70px;
      vertical-align: center; }
    header .discover-nav li:hover {
      border-bottom: 2px solid #40d9ac; }
    header .discover-nav .search:hover {
      border-bottom: none; }

footer {
  background-color: #3e7e96;
  display: block;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px; }
  footer .footer-main {
    background-color: #41305C;
    background-image: url("../assets/tent_logo.ico"), url("../assets/mountains_footer.svg");
    background-position: bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 55px, auto 200px;
    padding-top: 30px;
    padding-bottom: 200px;
    color: #fff;
    font-size: 0.9em;
    background-position-x: 50%, 50%;
    background-position-y: 100%, 100%; }
  footer .footer-main h5 {
    color: #70539f;
    margin-bottom: 20px; }
  footer .footer-bottom {
    border-top: 5px solid #fde0ab;
    padding-top: 9px;
    padding-bottom: 8px;
    color: white;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    line-height: 18.176px; }
    footer .footer-bottom .bottom {
      font-weight: 100;
      width: 900px;
      margin: 0 auto;
      letter-spacing: 0.4px; }
    footer .footer-bottom .pull-right {
      font-weight: 100;
      letter-spacing: 0.4px; }
    footer .footer-bottom a {
      font-weight: 100;
      letter-spacing: 0.4px; }

/*# sourceMappingURL=output.css.map */
