@media screen and (max-width: 1500px) {
  .listing-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1000px) {

  .discover-filters {
    width: 80vw;

    .discover-grid {
      .discover-square {
        .crop {
          width: 25vw;
          height: 25vw;
        }

        .discover-footer {
          h2 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .main-header {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 5vw;
    }

    .row {
      width: 65%;
      margin: 0 auto;

      .subtext {
        h1 {
          font-size: 1.75vw;
        }
      }

      .main-search-box {
        .dates-search {

          button {
            font-size: 1.35vw;
          }
          .booking-field-date {
            input {
              font-size: 1.35vw;
            }
          }
        }
        .location-search {
          input {
            font-size: 1.35vw;
          }
        }
      }
    }
  }

  .reviews-section {
    .reviews-header {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
    }

    .reviews-index-item {
      display: flex;
      flex-direction: column;

      aside {
        margin: 0 auto;
        width: 15%;
      }

      main {
        width: 100%;
      }

      .review-body {
        h2 {
          text-align: center;
        }

        .date {
          text-align: center;
        }
      }


    }

    .review-form {
      display: flex;
      flex-direction: column;

      aside {
        margin: 0 auto;
        width: 25%;
        padding-bottom: 15px;
      }

      main {
        width: 100%;

        textarea {
          font-size: 14px;
        }
      }
    }
  }

  .listing-page {
    .listing-photos {
      .custom-slider-css {
          overflow-x: hidden;
      }
    }

    .listing-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 75vw;

      .listing-right {
        margin: 0;
        margin-left: 10vw;
        margin-top: 0;
      }

      .listing-left {
        width: 100%;

        .section-title {
          aside {
            padding-bottom: 10px;

            > * {
              font-weight: 700;
            }
          }
        }

        .listing-vibe {
          .vibe-squares {
            justify-content: space-between;
            width: 100%;

            .vibe-square {
              height: 20vw;

              h3 {
                font-size: 3vw;
              }

              p {
                font-size: 1.5vw;
              }
            }
          }
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .reviews-section {
          border: none;
        }
      }
    }
  }



  #booking-form.sticky {
    position: relative;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 550px) {
  #booking-form.sticky {
    position: relative;
    margin-bottom: 250px;
  }

    .main-header {
      .row.right {
        display: none;
      }
    }
}
