$lightest-gray: #eeeeee;
$light-gray: #ebebeb;
$lighter-gray: #a1a1a1;
$gray: #777777;
$dark-gray: #333333;
$darkest-gray: #2d2d2d;

$dark-turquoise: #004052;

$green-cyan: #40d9ac;

$dark-purple: #41305C; //background for footer
$purple: #70539f; //header color at footer
