.footer-container {
  position: relative;

  .row {
    display: flex;
  }

  .col-sm-6 {
    width: 50%;
  }

}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}
