 .booking-form {
  width: 100%;

  .booking-header {
    display: flex;
    width: 100%;

    button, h2, a {
      box-sizing: border-box;
      font-weight: 200;
      color: white;
      font-size: 16px;
      text-align: center;
      padding: 25px 10px;
    }

    button, a {
      background-color: $green-cyan;
      width: 75%;
    }

    button:hover, a:hover {
      background-color: $darker-green;
    }

    h2 {
      background-color: $darker-green;
      padding: 25px;

    }
  }

  .booking-selections{
    display: flex;
    width: 100%;

    .booking-field-date {
      border-left: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      width: 34%;
      padding: 15px 10px;


      h3, input, p {
        width: 100%;
        font-size: 14px;
        color: $dark-gray;
        text-align: left;
        margin: 0;
      }

      input {
        font-weight: 200;
      }
    }

    .booking-field-guests {
      border-left: 1px solid $light-gray;
      border-bottom: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
      width: 32%;
      padding: 15px 10px;


      h3, input {
        width: 100%;
        font-size: 14px;
        color: $dark-gray;
        text-align: left;
        margin: 0;
      }

      input, p {
        font-weight: 200;

      }
    }

    .booking-guests {
      display: flex;
      justify-content: flex-start;
      padding-top: 3px;

      > * {
        padding: 0px 5px;
        font-size: 14px;
        color: $dark-gray;
        font-weight: 200;
      }

      a:hover {
        cursor: pointer;

      }
    }
  }

  .booking-total-shown {
    border: 1px solid $light-gray;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;

    .booking-total-calc {
      display: flex;
      justify-content: space-between;
    }

    h3 {
      box-sizing: border-box;
      font-size: 14px;
      color: $dark-gray;
      text-align: left;
      margin: 0;
    }

    p {
      box-sizing: border-box;
      padding: 0;
      font-weight: 200;
      font-size: 14px;
    }
  }

  .booked-header {
    display: flex;
    width: 100%;

    button, h2, a {
      box-sizing: border-box;
      font-weight: 200;
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 25px 25px;

    }

    h2, button {
      background-color: $darker-green;
    }

    button {
      width: 100%;
      cursor: default;
    }
  }

  .booking-cancel {
    padding: 10px;
    a {
      color: $green-cyan;
      line-height: 16px;
      vertical-align: middle;
      align-content: center;
      top: 50%;
      padding: 20px 30px;
    }

    a:hover {
      color: $dark-gray;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .booked-field {
    font-weight: 200;
    padding-top: 3px;
  }

  .booked-guests {
    font-weight: 200;
    font-size: 14px;
    width: 15px;
    padding-top: 3px;
  }
}

.booking-errors {
  padding-bottom: 5px;
  font-size: 14px;
  color: #8b0000;
}
