.explore-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  background-color: white;
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  height: 92vh;

  .map-container {
    width: 45%;
    height: 100%;
    z-index: 2;


    .map {
      z-index: 2;
      position: relative;
      height: 95%;
    }
  }

  strong {
    margin-left: 87%;
    font-weight: 700;
    color: $dark-gray;
    font-size: 14px;
  }

  .listings-index {
    padding-top: 15px;
    width: 43%;
    background-color: white;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;

    .listings-index-item {
      padding: 15px;

      .listings-index-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .listings-index-booking {
          display: flex;
          justify-content: flex-start;
          height: 40px;

          > * {

          }
        }

        h4 {
          color: $dark-gray;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          vertical-align: center;
          margin: 0;
          padding-left: 25px;
        }

        button {
          background-color: $green-cyan;
          height: 40px;
          font-weight: 700px;
          color: white;
          padding: 0px 40px;
          font-size: 14px;
        }

        p {
          color: $gray;
          font-size: 14px;
        }
      }

      h2 {
        font-weight: 700;
        color: $dark-gray;
      }


      .listings-index-link {
        display: flex;

        img {
          width: 250px;
          height: 250px;
        }
      }
    }

    .listings-index-item:hover {
      background-color: $lightest-lightest-gray;
    }
  }

  .explore-filters {
    position: sticky;
    margin-left: 15px;
    width: 12%;
    background-color: $lightest-lightest-gray;

    h2 {
      font-size: 14px;
      padding-left: 15px;
      padding-top: 15px;
      font-weight: 700;
    }

    li {
      margin: 5px 0px;
    }

    h3 {
      padding-left: 15px;
      text-align: left;
      color: $dark-gray;
      font-weight: 700px;
      font-size: 18px;
    }

    button {
      background-color: $lightest-lightest-gray;
      color: $green-cyan;
      font-size: 14px;
      padding-left: 30%;
      padding-top: 30px;
    }

    button:hover {
      color: $dark-gray;
      text-decoration: underline;
    }

    .explore-filters-list {
      color: $darkest-gray;
      padding: 0px;

      .checkbox-filter {
        opacity: 0;
        position: absolute;
      }

      .checkbox-filter, .checkbox-label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }

      .checkbox-label {
        position: relative;
        height: 15px;
        line-height: 15px;
        font-weight: 200px;
        font-size: 14px;
        vertical-align: middle;
        padding-left: 15px;
      }

      .checkbox-filter + .checkbox-label:before {
        content: '';
        background: #fff;
        border: 1px solid $lighter-gray;
        display: inline-block;
        vertical-align: middle;
        width: 13px;
        height: 13px;
        padding: 2.5px;
        line-height: 15px;
        margin-right: 10px;
        text-align: center;
        z-index: 1;
      }

      .checkbox-filter:checked + .checkbox-label:before {
        background: $green-cyan;
        border: 1px solid $green-cyan;
      }
    }
  }
}

.infowindow {
  width: 200px;
  height: 200px;
  overflow: hidden;

  .infowindow-image {
    width: 100px;
    height: 100px;
  }

  .info-window-title {
    font-weight: 700;
    color: $dark-gray;
  }
}

img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
    display: none;
}
