.discover-filters {
  width: 60vw;
  margin: 0 auto;

  > h2 {
    text-align: center;
    font-weight: 700;
    color: $dark-gray;
    padding-bottom: 30px;
  }

  .discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    padding-bottom: 150px;

    .discover-square {
      display: flex;
      flex-direction: column;
      border: 1px solid $light-gray;
      box-sizing: border-box;

      .crop {
        height: 100%;
        position: relative;
        width: 340px;
        height: 340px;

        img {
          display: block;
          min-height: 100%;
          min-width: 100%;
          overflow: hidden;
          top: -100%;
          right: -100%;
          bottom: -100%;
          left: -100%;
          margin: auto;
          position: absolute;

        }
      }

      .discover-footer {
        background-color: white;
        margin: 10px;

        h2 {
          font-weight: 700;
          color: $dark-gray;
          font-size: 20px;
        }

        p {
          color: $lighter-gray;
          font-size: 14px;
          font-weight: 200;
          letter-spacing: 0.05em;
        }
      }
    }
  }
}
