$assetPath: '../images';

footer {
  background-color: #3e7e96;
  display: block;
  box-sizing: border-box;
  color: $dark-gray;
  position: relative;

  .row .right {
    width: 55vw;
  }

  .footer-main {
    background-color: $dark-purple;
    background-image: url('https://res.cloudinary.com/deor0br3s/image/upload/v1522783892/tent_logo.png'), url('https://res.cloudinary.com/deor0br3s/image/upload/v1522783905/mountains_footer.png');
    background-position: bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 55px, auto 200px;
    padding-top: 5px;
    padding-bottom: 200px;
    color: #fff;
    background-position-x: 50%, 50%;
    background-position-y: 100%, 100%;

    .footer-container {
      padding: 30px 0px;
      width: 80vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    h5 {
      color: #70539f;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    li, a, p {
      font-weight:100;
      letter-spacing: 0.6px;
      font-size: 12.5px;
      line-height: 1.75;
    }

    .footer-col {
      margin: 0px 30px 0px 30px;
    }

  }

  .footer-bottom {
    border-top: 5px solid rgb(253, 224, 171);
    padding-top: 9px;
    padding-bottom: 8px;
    color: white;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    line-height: 18.176px;
    font-weight: 100;

    .bottom {
      font-weight: 100;
      width: 75vw;
      margin: 0 auto;
      letter-spacing: 0.4px;
      display: flex;
      justify-content: space-between;
    }

    .pull-right {
      font-weight: 100;
      letter-spacing: 0.4px;
    }

    .pull-left {
      font-weight: 100;
    }

    a {
      font-weight: 100;
    }
  }
}

.footer-left-col {
  width: 40vw;
}
