.listing-page {
  display: flex;
  flex-direction: column;

  .listing-photos {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 95%;
    background: white;
    height: 50vh;

    .slick-slide {
      padding: 7px;
      height: 50vh;
    }

      img {
        width: auto;
        height: 50vh;
      }

    .slick-prev:before, .slick-next:before {
      color: $lighter-gray;
      font-size: 24px;
    }

    .slick-prev:hover:before, .slick-next:hover:before {
      color: $green-cyan;
    }
  }

  .listing-content {
    padding-top: 100px;
    width: 60vw;
    margin: 0 auto;
    display: flex;

    .listing-left {
      width: 70%;

      p {
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.03em;
      }

      > div {
        padding: 30px 0px;
        display: flex;
        border-bottom: 1px solid $light-gray;

        > aside {
          display: flex;
          width: 35%;
        }

        > main {
          width: 65%;
        }
      }

      h1 {
        font-weight: bold;
        color: $dark-gray;
        font-size: 40px;
      }

      .listing-about {
        img {
          width: auto;
          height: 50px;
          border-radius: 25px;
        }

        .host-info, h3, p {
          font-size: 15px;
          padding-top: 0px;
          margin: 0;


          h3, p {
            padding-left: 7px;
            line-height: 1.4;
          }
        }


      }

      .listing-details {
        background: white;
        box-sizing: border-box;

        li {
          font-size: 15px;
          margin: 5px 0px;
          font-weight: 200;
          letter-spacing: 0.03em;
        }

        strong {
          font-weight: 700;
          font-size: 15px;
        }
      }

      .listing-vibe {
        display: flex;
        flex-direction: column;

        h2 {
          font-weight: 700;
          color: $dark-gray;
          font-size: 16px;
        }

        .vibe-squares {
          display: flex;
          flex-direction: row;
          padding-top: 20px;

          .vibe-square {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            text-align: center;
            margin: 0 auto;
            height: 12vw;
            border: 1px solid $light-gray;

            h3 {
              font-size: 2.25vw;
              color: $dark-gray;
              margin: 0px 10px;
              line-height: 1.2;
            }

            p {
              font-size: 15px;
              color: $gray;
              font-weight: 200;
            }
          }

        }

      }
    }

    .listing-right {
      width: 30%;
      margin: 0 auto;
      padding-left: 50px;
      text-align: center;

      button {
        box-sizing: border-box;
        background-color: $green-cyan;
        width: 90%;
        color: white;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px;
      }
    }
  }
}
