.listing-photos {
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 95%;
  background: white;
  padding-bottom: 300px;
  height: 470px;


  .slick-slide {
    padding: 7px;
    height: 470px;
  }

    img {
      width: auto;
      height: 470px;
    }


  .slick-prev:before, .slick-next:before {
    color: $lighter-gray;
    font-size: 24px;
    position: fixed;
    top: -230px;
  }



}
