header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  color: $dark-gray;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  z-index: 3;
  height: 70px;

  .nav-left{
    display: flex;
    z-index: 1;
  }

  .nav-right{
    padding: 0px 45px;
    display: flex;
    z-index: 1;

    a {
      box-sizing: border-box;
      color: $green-cyan;
      font-size: 16px;
      font-weight: 700;
    }

    a:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }

    h2 {
      font-size: 16px;
      padding-top: 21px;
      padding-right: 200px;
      color: $gray;
    }
  }
  .logo {
    width: 255px;
    height: 70px;
    padding: 0px 20px;
    border-right: 1px solid $light-gray;
  }

  .discover-nav {
    font-size: 15px;

    .search {
      margin: 0px 10px;
      width: 80px;
    }

    strong {
      font-weight: 700;
      margin-left: 5px;
    }

    ul {
      display: flex;

      li {
        margin: 0px 10px;
        width: 60px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        vertical-align: center;

        label {
          letter-spacing: 0.04em;
          font-weight: 200;
        }
      }
    }


    li:hover {
      border-bottom: 2px solid $green-cyan;
    }

    .search:hover {
      border-bottom: none;
    }

  }

}
