.reviews-section {
  display: flex;
  flex-direction: column;

  strong {
    color: $dark-gray;
    font-weight: 700;
    font-size: 16px;
  }

  .reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: $green-cyan;
      font-size: 14px;
    }

    a:hover {
      color: $dark-gray;
      text-decoration: underline;
    }
  }

  .review-form {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;

    aside {
      width: 15%;

      img {
        border-radius: 50%
      }

      p {
        padding-top: 10px;
        text-align: center;
        color: $dark-gray;
      }

    }

    main {
      width: 80%;

      form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

      }

      textarea {
        width: 95%;
        height: 5vw;
        border: 1px solid $light-gray;
        font-size: 16px;
        color: $dark-gray;
        resize: none;
        padding: 10px;
        margin-bottom: 20px;
      }

      button{
        background-color: $green-cyan;
        color: white;
        font-weight: 200;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px;
      }

      a {
        color: $green-cyan;
        line-height: 16px;
        vertical-align: middle;
        align-content: center;
        top: 50%;
        padding: 20px 30px;
      }

      a:hover {
        color: $dark-gray;
        text-decoration: underline;
      }

      button:hover {
        background-color: $darker-green;
      }

      .review-form-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .reviews-index-item {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;

    aside {
      width: 10%;

      img {
        border-radius: 50%;
      }
    }

    main {
      width: 84%;
      padding-bottom: 30px;
      border-bottom: 1px solid $light-gray;

      h2 {
        padding-top: 15px;
        font-weight: 700;
        color: $dark-gray;
      }

      .date {
        font-size: 14px;
        color: $lighter-gray;
        padding-bottom: 15px;
      }
    }

    .review-actions {
      display: flex;
      padding-top: 10px;

      a, button {
        top: 50%;
        margin: 0;
        padding-top: 0;
        font-size: 14px;
        align-content: center;
        color: $green-cyan;
        display: block;
        height: 20px;
        line-height: 20px;
      }

      a:hover, button:hover {
        color: $dark-gray;
        text-decoration: underline;
      }

      p {
        text-align: center;
        padding: 0px 10px;
        color: $dark-gray;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
