.reviews-section {
  display: flex;
  flex-direction: column;

  strong {
    color: $dark-gray;
    font-weight: 700;
    font-size: 16px;
  }

  .reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: $green-cyan;
    }

    a:hover {
      color: $dark-gray;
      text-decoration: underline;
    }
  }

  .review-form {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between;

    aside {
      width: 10%;

      img {
        border-radius: 50%
      }

      p {
        padding-top: 10px;
        text-align: center;
        color: $dark-gray;
      }

    }

    main {
      width: 84%;

      form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-end;
      }

      textarea {
        width: 95%;
        height: 5vw;
        border: 1px solid $light-gray;
        font-size: 16px;
        color: $dark-gray;
        resize: none;
        padding: 10px;
        margin-bottom: 20px;
      }

      button {
        width: 25%;
        background-color: $green-cyan;
        color: white;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px;
      }
    }
  }

  .reviews-index-item {
    display: flex;
    margin: 30px 10px;
    justify-content: space-between;

    aside {
      width: 10%;

      img {
        border-radius: 50%;
      }
    }

    main {
      width: 84%;
      padding-bottom: 30px;
      border-bottom: 1px solid $light-gray;

      h2 {
        padding-top: 15px;
        font-weight: 700;
        color: $dark-gray;
      }

      .date {
        font-size: 14px;
        color: $lighter-gray;
        padding-bottom: 15px;
      }
    }
  }
}
