/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_self
*/
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  line-height: 1.42;
  letter-spacing: 0.23px; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

.footer-container {
  position: relative; }
  .footer-container .row {
    display: flex; }
  .footer-container .col-sm-6 {
    width: 50%; }

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.DayPicker {
  display: inline-block; }

.DayPicker-wrapper {
  position: relative;
  user-select: none;
  padding-bottom: 1rem;
  flex-direction: row; }

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
  margin-top: 1rem;
  color: #777777; }

.DayPicker-NavButton {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  margin-top: 2px;
  color: #8b9898;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.DayPicker-NavButton:hover {
  opacity: 0.8; }

.DayPicker-NavButton--prev {
  margin-right: 1.5rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC"); }

.DayPicker-NavButton--next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg=="); }

.DayPicker-NavButton--interactionDisabled {
  display: none; }

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: left;
  margin-bottom: 0.5rem; }

.DayPicker-Caption > div {
  font-size: 1.15rem;
  font-weight: 700;
  color: #333333; }

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group; }

.DayPicker-WeekdaysRow {
  display: table-row; }

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5rem;
  font-size: 0.875em;
  text-align: center;
  color: #333333; }

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none; }

.DayPicker-Body {
  display: table-row-group; }

.DayPicker-Week {
  display: table-row; }

.DayPicker-Day {
  display: table-cell;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  outline: none; }

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec; }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

.DayPicker-Footer {
  padding-top: 0.5rem; }

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em; }

/* Default modifiers */
.DayPicker-Day--today {
  color: #40d9ac;
  font-weight: 700; }

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898; }

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */ }

/* Example modifiers */
.DayPicker-Day--sunday {
  background-color: #f7f8f8; }

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  background-color: #3cc69e;
  color: white;
  border-radius: 50%; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #3cc69e;
  color: white;
  border-radius: 50%; }

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #3cc69e;
  color: white;
  border-radius: 50%; }

/* DayPickerInput */
.DayPickerInput {
  display: inline-block; }

.DayPickerInput-OverlayWrapper {
  position: relative; }

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }

.DayPicker-day--selectedStart {
  background-color: red; }

.DayPicker-Day--selectedEnd {
  background-color: red; }

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  z-index: 3;
  height: 70px; }
  header .nav-left {
    display: flex;
    z-index: 1; }
  header .nav-right {
    padding: 0px 45px;
    display: flex;
    z-index: 1; }
    header .nav-right a, header .nav-right button {
      box-sizing: border-box;
      color: #40d9ac;
      font-size: 16px;
      font-weight: 700;
      vertical-align: middle;
      padding-top: 3px; }
    header .nav-right a:hover {
      color: #777777;
      border-bottom: 1px solid #777777; }
  header .logo {
    width: 255px;
    height: 70px;
    padding: 0px 20px;
    border-right: 1px solid #ebebeb; }
  header .discover-nav {
    font-size: 18px; }
    header .discover-nav .search {
      margin: 0px 10px;
      width: 225px;
      display: flex;
      z-index: 4;
      padding-left: 20px;
      padding-right: 20px; }
      header .discover-nav .search i {
        line-height: 70px;
        font-size: 20px;
        cursor: pointer;
        color: #777777; }
      header .discover-nav .search input {
        padding-left: 20px;
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        color: #777777; }
      header .discover-nav .search ::placeholder {
        color: #a1a1a1; }
      header .discover-nav .search h2 {
        color: #777777;
        line-height: 70px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 200;
        text-align: left; }
    header .discover-nav strong {
      font-weight: 700;
      margin-left: 5px; }
    header .discover-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      header .discover-nav ul li {
        margin: 0px 10px;
        height: 70px;
        line-height: 70px;
        vertical-align: center;
        min-width: 30px; }
        header .discover-nav ul li input {
          width: 250px; }
        header .discover-nav ul li label {
          margin-left: 15px;
          letter-spacing: 0.04em;
          color: #40d9ac;
          font-weight: 200;
          width: 200px;
          text-align: center; }
        header .discover-nav ul li label:hover {
          color: #777777;
          border-bottom: 1px solid #777777;
          cursor: pointer; }
    header .discover-nav .search:hover {
      border-bottom: none; }

.github {
  color: #777777;
  font-size: 26px;
  padding-left: 100px; }

.linkedin {
  color: #777777;
  font-size: 22px; }

.current-user-info {
  display: flex;
  line-height: 70px;
  padding-right: 10px; }
  .current-user-info > * {
    padding: 0px 5px; }
  .current-user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 15px; }
  .current-user-info h2 {
    font-size: 16px;
    line-height: 70px;
    padding-right: 30px;
    color: #777777; }

.listing-page {
  display: flex;
  flex-direction: column; }
  .listing-page .listing-photos {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 95%;
    background: white;
    height: 50vh; }
    .listing-page .listing-photos .slick-slide {
      padding: 7px;
      height: 50vh; }
    .listing-page .listing-photos img {
      width: auto;
      height: 50vh; }
    .listing-page .listing-photos .slick-prev:before, .listing-page .listing-photos .slick-next:before {
      color: #a1a1a1;
      font-size: 24px;
      font-family: 'slick'; }
    .listing-page .listing-photos .slick-prev:hover:before, .listing-page .listing-photos .slick-next:hover:before {
      color: #40d9ac; }
  .listing-page .listing-content {
    padding-top: 100px;
    width: 65vw;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 0; }
    .listing-page .listing-content .listing-left {
      width: 67%;
      padding-right: 75px; }
      .listing-page .listing-content .listing-left p {
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0.03em; }
      .listing-page .listing-content .listing-left > div {
        padding: 30px 0px;
        display: flex;
        border-bottom: 1px solid #ebebeb; }
        .listing-page .listing-content .listing-left > div > aside {
          display: flex;
          width: 35%; }
        .listing-page .listing-content .listing-left > div > main {
          width: 65%; }
      .listing-page .listing-content .listing-left h1 {
        font-weight: bold;
        color: #333333;
        font-size: 6vh; }
      .listing-page .listing-content .listing-left .listing-about img {
        width: auto;
        height: 50px;
        border-radius: 25px; }
      .listing-page .listing-content .listing-left .listing-about .host-info, .listing-page .listing-content .listing-left .listing-about h3, .listing-page .listing-content .listing-left .listing-about p {
        font-size: 15px;
        padding-top: 0px;
        margin: 0;
        padding-right: 7px; }
        .listing-page .listing-content .listing-left .listing-about .host-info h3, .listing-page .listing-content .listing-left .listing-about .host-info p, .listing-page .listing-content .listing-left .listing-about h3 h3, .listing-page .listing-content .listing-left .listing-about h3 p, .listing-page .listing-content .listing-left .listing-about p h3, .listing-page .listing-content .listing-left .listing-about p p {
          padding-left: 7px;
          line-height: 1.4; }
      .listing-page .listing-content .listing-left .listing-details {
        background: white;
        box-sizing: border-box; }
        .listing-page .listing-content .listing-left .listing-details li {
          font-size: 15px;
          margin: 5px 0px;
          font-weight: 200;
          letter-spacing: 0.03em; }
        .listing-page .listing-content .listing-left .listing-details strong {
          font-weight: 700;
          font-size: 15px; }
      .listing-page .listing-content .listing-left .listing-vibe {
        display: flex;
        flex-direction: column; }
        .listing-page .listing-content .listing-left .listing-vibe h2 {
          font-weight: 700;
          color: #333333;
          font-size: 16px; }
        .listing-page .listing-content .listing-left .listing-vibe .vibe-squares {
          display: flex;
          flex-direction: row;
          padding-top: 20px; }
          .listing-page .listing-content .listing-left .listing-vibe .vibe-squares .vibe-square {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            text-align: center;
            margin: 0 auto;
            height: 12vw;
            border: 1px solid #ebebeb; }
            .listing-page .listing-content .listing-left .listing-vibe .vibe-squares .vibe-square h3 {
              font-size: 2vw;
              color: #333333;
              margin: 0px 10px;
              line-height: 1.2; }
            .listing-page .listing-content .listing-left .listing-vibe .vibe-squares .vibe-square p {
              font-size: 1vw;
              color: #777777;
              font-weight: 200; }
    .listing-page .listing-content .listing-features img {
      height: 24px;
      width: 24px;
      padding-right: 20px;
      color: #333333; }
    .listing-page .listing-content .listing-features li {
      display: flex;
      margin-bottom: 10px; }
    .listing-page .listing-content .listing-right {
      width: 33%;
      margin: 0 auto;
      text-align: center; }

.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

footer {
  background-color: #3e7e96;
  display: block;
  box-sizing: border-box;
  color: #333333;
  position: relative; }
  footer .row .right {
    width: 55vw; }
  footer .footer-main {
    background-color: #41305C;
    background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1522783892/tent_logo.png"), url("https://res.cloudinary.com/deor0br3s/image/upload/v1522783905/mountains_footer.png");
    background-position: bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 55px, auto 200px;
    padding-top: 5px;
    padding-bottom: 200px;
    color: #fff;
    background-position-x: 50%, 50%;
    background-position-y: 100%, 100%; }
    footer .footer-main .footer-container {
      padding: 30px 0px;
      width: 80vw;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
    footer .footer-main h5 {
      color: #70539f;
      margin-bottom: 20px;
      box-sizing: border-box; }
    footer .footer-main li, footer .footer-main a, footer .footer-main p {
      font-weight: 100;
      letter-spacing: 0.6px;
      font-size: 12.5px;
      line-height: 1.75; }
    footer .footer-main .footer-col {
      margin: 0px 30px 0px 30px; }
  footer .footer-bottom {
    border-top: 5px solid #fde0ab;
    padding-top: 9px;
    padding-bottom: 8px;
    color: white;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    line-height: 18.176px;
    font-weight: 100; }
    footer .footer-bottom .bottom {
      font-weight: 100;
      width: 75vw;
      margin: 0 auto;
      letter-spacing: 0.4px;
      display: flex;
      justify-content: space-between; }
    footer .footer-bottom .pull-right {
      font-weight: 100;
      letter-spacing: 0.4px;
      padding-right: 100px; }
    footer .footer-bottom .pull-left {
      font-weight: 100;
      padding-left: 70px; }
    footer .footer-bottom a {
      font-weight: 100; }

.footer-left-col {
  width: 40vw; }

.main-header {
  position: relative;
  display: flex;
  box-sizing: border-box;
  top: 110px;
  padding-bottom: 15vw; }
  .main-header h2 {
    font-weight: 600;
    font-size: 3.5vw;
    color: #333333;
    line-height: 1;
    display: block;
    padding-right: 100px; }
  .main-header .left {
    padding: 3vw 8.5vw; }
  .main-header .row {
    width: 50%; }
    .main-header .row .subtext {
      padding-top: 20px;
      padding-bottom: 15px; }
      .main-header .row .subtext h1 {
        color: #a1a1a1;
        font-weight: 200;
        font-size: 1.25vw; }
        .main-header .row .subtext h1 a {
          text-align: center;
          color: #40d9ac;
          font-weight: 300;
          padding-bottom: 10px;
          padding-left: 15px; }
        .main-header .row .subtext h1 a:hover {
          color: #a1a1a1;
          text-decoration: underline; }
        .main-header .row .subtext h1 i {
          padding-left: 1px;
          font-size: 2.25vh;
          font-weight: 700; }
      .main-header .row .subtext strong {
        font-weight: 700; }
    .main-header .row .main-search-box {
      width: 100%;
      height: 12.5vw;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      box-shadow: 0 1px 20px #ebebeb;
      -webkit-box-shadow: 0 1px 20px #ebebeb; }
      .main-header .row .main-search-box .location-search {
        box-sizing: border-box;
        height: 50%;
        display: flex;
        justify-content: space-between;
        color: #333333;
        padding: 0 15px; }
        .main-header .row .main-search-box .location-search > * {
          vertical-align: middle;
          line-height: 6vw;
          letter-spacing: 0.7px;
          font-weight: 200; }
        .main-header .row .main-search-box .location-search .find-camping {
          color: #2d2d2d; }
        .main-header .row .main-search-box .location-search input {
          font-size: 1vw;
          width: 100%; }
        .main-header .row .main-search-box .location-search i {
          font-size: 1vw; }
      .main-header .row .main-search-box .dates-search {
        border-top: 1px solid #eeeeee;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        height: 50%;
        color: #333333; }
        .main-header .row .main-search-box .dates-search > * {
          letter-spacing: 0.7px;
          padding: 0 15px; }
        .main-header .row .main-search-box .dates-search .booking-field-date {
          border: none;
          vertical-align: middle;
          line-height: 6vw;
          font-size: 1vw;
          width: 35%; }
          .main-header .row .main-search-box .dates-search .booking-field-date input {
            color: #333333;
            font-size: 1vw; }
        .main-header .row .main-search-box .dates-search .booking-field-date + .checkout {
          border-left: 1px solid #eeeeee; }
        .main-header .row .main-search-box .dates-search button {
          background-color: #40d9ac;
          font-size: 1vw;
          background-color: #40d9ac;
          font-weight: 700;
          color: white;
          text-align: center;
          line-height: 6vw;
          margin: 0;
          padding: 0;
          padding-top: 0.2vw;
          width: 30%; }

.search-subtext {
  padding: 20px; }

.main-header-image-footer {
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  text-align: right;
  font-size: 14px;
  padding: 10px;
  color: #a1a1a1; }
  .main-header-image-footer strong {
    color: #333333;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb; }

#loading-main {
  height: 95vh;
  background: white; }

.discover-filters {
  width: 60vw;
  margin: 0 auto; }
  .discover-filters > h2 {
    text-align: center;
    font-weight: 700;
    color: #333333;
    padding-bottom: 30px; }
  .discover-filters .discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    padding-bottom: 150px; }
    .discover-filters .discover-grid .discover-square {
      display: flex;
      flex-direction: column;
      border: 1px solid #ebebeb;
      box-sizing: border-box; }
      .discover-filters .discover-grid .discover-square .crop {
        height: 100%;
        position: relative;
        cursor: pointer;
        width: 20vw;
        height: 20vw; }
        .discover-filters .discover-grid .discover-square .crop img {
          display: block;
          min-height: 100%;
          min-width: 100%;
          overflow: hidden;
          top: -100%;
          right: -100%;
          bottom: -100%;
          left: -100%;
          margin: auto;
          position: absolute;
          cursor: pointer; }
      .discover-filters .discover-grid .discover-square .discover-footer {
        background-color: white;
        margin: 10px;
        cursor: pointer; }
        .discover-filters .discover-grid .discover-square .discover-footer h2 {
          font-weight: 700;
          color: #333333;
          font-size: 20px; }
        .discover-filters .discover-grid .discover-square .discover-footer p {
          color: #a1a1a1;
          font-size: 14px;
          font-weight: 200;
          letter-spacing: 0.05em; }

.react-modal-form {
  display: none; }

.overlay {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.modal {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -220px;
  width: 300px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  z-index: 4; }
  .modal h3 {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    color: #333333; }
  .modal p {
    color: #777777;
    font-weight: 200;
    text-align: center;
    line-height: 1.5; }
  .modal input {
    box-sizing: border-box;
    padding: 20px 15px;
    border: 0.5px solid #777777;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #2d2d2d; }
  .modal img {
    padding-bottom: 15px; }
  .modal .input {
    margin: 15px 0px; }
  .modal button {
    box-sizing: border-box;
    background-color: #40d9ac;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 20px 20px; }
  .modal .modal-footer {
    padding: 20px 0px;
    font-size: 14px; }
    .modal .modal-footer p {
      color: #2d2d2d;
      font-weight: 200; }
    .modal .modal-footer a {
      color: #40d9ac;
      padding-top: 10px;
      font-size: 14px;
      cursor: pointer; }
    .modal .modal-footer a:hover {
      text-decoration: underline;
      color: #2d2d2d; }

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer; }

.modal-close:hover {
  color: #f00; }

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300; }

.modal-form > p {
  margin: 0 0 20px 0; }

.auth-errors {
  padding-bottom: 5px;
  font-size: 14px;
  color: #8b0000; }

.reviews-section {
  display: flex;
  flex-direction: column; }
  .reviews-section strong {
    color: #333333;
    font-weight: 700;
    font-size: 16px; }
  .reviews-section .reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .reviews-section .reviews-header a {
      color: #40d9ac;
      font-size: 14px; }
    .reviews-section .reviews-header a:hover {
      color: #333333;
      text-decoration: underline; }
  .reviews-section .review-form {
    margin: 30px 10px;
    display: flex;
    justify-content: space-between; }
    .reviews-section .review-form aside {
      width: 15%; }
      .reviews-section .review-form aside img {
        border-radius: 50%; }
      .reviews-section .review-form aside p {
        padding-top: 10px;
        text-align: center;
        color: #333333; }
    .reviews-section .review-form main {
      width: 80%; }
      .reviews-section .review-form main form {
        display: flex;
        flex-direction: column;
        margin: 0 auto; }
      .reviews-section .review-form main textarea {
        width: 95%;
        height: 5vw;
        border: 1px solid #ebebeb;
        font-size: 16px;
        color: #333333;
        resize: none;
        padding: 10px;
        margin-bottom: 20px; }
      .reviews-section .review-form main button {
        background-color: #40d9ac;
        color: white;
        font-weight: 200;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px; }
      .reviews-section .review-form main a {
        color: #40d9ac;
        line-height: 16px;
        vertical-align: middle;
        align-content: center;
        top: 50%;
        padding: 20px 30px; }
      .reviews-section .review-form main a:hover {
        color: #333333;
        text-decoration: underline; }
      .reviews-section .review-form main button:hover {
        background-color: #3cc69e; }
      .reviews-section .review-form main .review-form-actions {
        display: flex;
        justify-content: flex-end; }
  .reviews-section .reviews-index-item {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between; }
    .reviews-section .reviews-index-item aside {
      width: 10%; }
      .reviews-section .reviews-index-item aside img {
        border-radius: 50%; }
    .reviews-section .reviews-index-item main {
      width: 84%;
      padding-bottom: 30px;
      border-bottom: 1px solid #ebebeb; }
      .reviews-section .reviews-index-item main h2 {
        padding-top: 15px;
        font-weight: 700;
        color: #333333; }
      .reviews-section .reviews-index-item main .date {
        font-size: 14px;
        color: #a1a1a1;
        padding-bottom: 15px; }
    .reviews-section .reviews-index-item .review-actions {
      display: flex;
      padding-top: 10px; }
      .reviews-section .reviews-index-item .review-actions a, .reviews-section .reviews-index-item .review-actions button {
        top: 50%;
        margin: 0;
        padding-top: 0;
        font-size: 14px;
        align-content: center;
        color: #40d9ac;
        display: block;
        height: 20px;
        line-height: 20px; }
      .reviews-section .reviews-index-item .review-actions a:hover, .reviews-section .reviews-index-item .review-actions button:hover {
        color: #333333;
        text-decoration: underline; }
      .reviews-section .reviews-index-item .review-actions p {
        text-align: center;
        padding: 0px 10px;
        color: #333333;
        font-size: 12px;
        line-height: 20px; }

.sticky {
  position: fixed;
  top: 75px;
  background-color: white; }

#booking-form {
  width: 300px; }
  #booking-form .booking-header {
    display: flex;
    width: 100%; }
    #booking-form .booking-header button, #booking-form .booking-header h2, #booking-form .booking-header a {
      box-sizing: border-box;
      font-weight: 200;
      color: white;
      font-size: 16px;
      text-align: center;
      padding: 25px 10px; }
    #booking-form .booking-header button, #booking-form .booking-header a {
      background-color: #40d9ac;
      width: 75%; }
    #booking-form .booking-header button:hover, #booking-form .booking-header a:hover {
      background-color: #3cc69e; }
    #booking-form .booking-header h2 {
      background-color: #3cc69e;
      padding: 25px; }
  #booking-form .booking-selections {
    display: flex;
    width: 100%; }
    #booking-form .booking-selections .booking-field-guests {
      border-left: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      width: 32%;
      padding: 15px 10px; }
      #booking-form .booking-selections .booking-field-guests h3, #booking-form .booking-selections .booking-field-guests input {
        width: 100%;
        font-size: 14px;
        color: #333333;
        text-align: left;
        margin: 0; }
      #booking-form .booking-selections .booking-field-guests input, #booking-form .booking-selections .booking-field-guests p {
        font-weight: 200; }
    #booking-form .booking-selections .booking-guests {
      display: flex;
      justify-content: flex-start;
      padding-top: 3px; }
      #booking-form .booking-selections .booking-guests > * {
        padding: 0px 5px;
        font-size: 14px;
        color: #333333;
        font-weight: 200; }
      #booking-form .booking-selections .booking-guests a:hover {
        cursor: pointer; }
  #booking-form .booking-total-shown {
    border: 1px solid #ebebeb;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 15px 10px; }
    #booking-form .booking-total-shown .booking-total-calc {
      display: flex;
      justify-content: space-between; }
    #booking-form .booking-total-shown h3 {
      box-sizing: border-box;
      font-size: 14px;
      color: #333333;
      text-align: left;
      margin: 0; }
    #booking-form .booking-total-shown p {
      box-sizing: border-box;
      padding: 0;
      font-weight: 200;
      font-size: 14px; }
  #booking-form .booked-header {
    display: flex;
    width: 100%; }
    #booking-form .booked-header button, #booking-form .booked-header h2, #booking-form .booked-header a {
      box-sizing: border-box;
      font-weight: 200;
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 25px 25px; }
    #booking-form .booked-header h2, #booking-form .booked-header button {
      background-color: #3cc69e; }
    #booking-form .booked-header button {
      width: 100%;
      cursor: default; }
  #booking-form .booking-cancel {
    padding: 10px; }
    #booking-form .booking-cancel a {
      color: #8b0000;
      line-height: 16px;
      vertical-align: middle;
      align-content: center;
      top: 50%;
      padding: 20px 30px; }
    #booking-form .booking-cancel a:hover {
      color: #333333;
      text-decoration: underline;
      cursor: pointer; }
  #booking-form .booked-field {
    font-weight: 200;
    padding-top: 3px; }
  #booking-form .booked-guests {
    font-weight: 200;
    font-size: 14px;
    width: 15px;
    padding-top: 3px; }

.booking-errors {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #8b0000; }

.booking-field-date {
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 34%;
  padding: 15px 10px; }
  .booking-field-date h3, .booking-field-date input, .booking-field-date p {
    width: 100%;
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin: 0; }
  .booking-field-date input {
    font-weight: 200; }

.explore-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  background-color: white;
  position: relative;
  padding-top: 70px;
  padding-bottom: 10px;
  height: 92vh; }
  .explore-container .map-container {
    width: 45%;
    height: 100%; }
    .explore-container .map-container .map {
      z-index: 0;
      position: relative;
      height: 100%; }
  .explore-container strong {
    margin-left: 87%;
    font-weight: 700;
    color: #333333;
    font-size: 14px; }
  .explore-container .listings-index {
    padding-top: 15px;
    width: 43%;
    background-color: white;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box; }
    .explore-container .listings-index .listings-index-item {
      padding: 15px; }
      .explore-container .listings-index .listings-index-item .listings-index-body {
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .explore-container .listings-index .listings-index-item .listings-index-body .listings-index-booking {
          display: flex;
          justify-content: flex-start;
          height: 40px; }
        .explore-container .listings-index .listings-index-item .listings-index-body h4 {
          color: #333333;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          vertical-align: center;
          margin: 0;
          padding-left: 25px; }
        .explore-container .listings-index .listings-index-item .listings-index-body button {
          background-color: #40d9ac;
          height: 40px;
          font-weight: 700px;
          color: white;
          padding: 0px 40px;
          font-size: 14px; }
        .explore-container .listings-index .listings-index-item .listings-index-body p {
          color: #777777;
          font-size: 14px; }
      .explore-container .listings-index .listings-index-item h2 {
        font-weight: 700;
        color: #333333; }
      .explore-container .listings-index .listings-index-item .listings-index-link {
        display: flex; }
        .explore-container .listings-index .listings-index-item .listings-index-link img {
          width: 250px;
          height: 250px; }
    .explore-container .listings-index .listings-index-item:hover {
      background-color: #f9f9f9; }
  .explore-container .explore-filters {
    position: sticky;
    margin-left: 15px;
    width: 12%;
    background-color: #f9f9f9; }
    .explore-container .explore-filters h2 {
      font-size: 14px;
      padding-left: 15px;
      padding-top: 15px;
      font-weight: 700; }
    .explore-container .explore-filters li {
      margin: 5px 0px; }
    .explore-container .explore-filters h3 {
      padding-left: 15px;
      text-align: left;
      color: #333333;
      font-weight: 700px;
      font-size: 18px; }
    .explore-container .explore-filters button {
      background-color: #f9f9f9;
      color: #40d9ac;
      font-size: 14px;
      padding-left: 30%;
      padding-top: 30px; }
    .explore-container .explore-filters button:hover {
      color: #333333;
      text-decoration: underline; }
    .explore-container .explore-filters .explore-filters-list {
      color: #2d2d2d;
      padding: 0px; }
      .explore-container .explore-filters .explore-filters-list .checkbox-filter {
        opacity: 0;
        position: absolute; }
      .explore-container .explore-filters .explore-filters-list .checkbox-filter, .explore-container .explore-filters .explore-filters-list .checkbox-label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer; }
      .explore-container .explore-filters .explore-filters-list .checkbox-label {
        position: relative;
        height: 15px;
        line-height: 15px;
        font-weight: 200px;
        font-size: 14px;
        vertical-align: middle;
        padding-left: 15px; }
      .explore-container .explore-filters .explore-filters-list .checkbox-filter + .checkbox-label:before {
        content: '';
        background: #fff;
        border: 1px solid #a1a1a1;
        display: inline-block;
        vertical-align: middle;
        width: 13px;
        height: 13px;
        padding: 2.5px;
        line-height: 15px;
        margin-right: 10px;
        text-align: center;
        z-index: 1; }
      .explore-container .explore-filters .explore-filters-list .checkbox-filter:checked + .checkbox-label:before {
        background: #40d9ac;
        border: 1px solid #40d9ac; }

.infowindow {
  width: 200px;
  height: 200px;
  overflow: hidden; }
  .infowindow .infowindow-image {
    width: 100px;
    height: 100px; }
  .infowindow .info-window-title {
    font-weight: 700;
    color: #333333; }

img[src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"] {
  display: none; }

.no-results {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0 auto;
  padding-left: 15%;
  padding-top: 40px; }
  .no-results h2 {
    font-size: 2vh;
    color: #777777;
    font-weight: 200;
    vertical-align: middle;
    padding-top: 30px;
    width: 70%;
    padding-left: 50px; }
  .no-results img {
    width: 5vw;
    height: 5vw;
    text-align: center;
    margin: 0; }

#listing-save {
  color: #ec6e67;
  font-size: 13px;
  border: 0.25px solid #ec6e67;
  margin: 0;
  padding: 10px 20px;
  height: 25px; }
  #listing-save i {
    margin-right: 5px; }

#listing-save.saved {
  color: white;
  background: #ec6e67; }

@media screen and (max-width: 1500px) {
  .listing-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; } }
@media screen and (max-width: 1000px) {
  .reviews-section .reviews-header {
    display: flex;
    flex-direction: column;
    align-content: flex-start; }
  .reviews-section .reviews-index-item {
    display: flex;
    flex-direction: column; }
    .reviews-section .reviews-index-item aside {
      margin: 0 auto;
      width: 25%; }
    .reviews-section .reviews-index-item main {
      width: 100%; }
    .reviews-section .reviews-index-item .review-body h2 {
      text-align: center; }
    .reviews-section .reviews-index-item .review-body .date {
      text-align: center; }
  .reviews-section .review-form {
    display: flex;
    flex-direction: column; }
    .reviews-section .review-form aside {
      margin: 0 auto;
      width: 25%;
      padding-bottom: 15px; }
    .reviews-section .review-form main {
      width: 100%; }
      .reviews-section .review-form main textarea {
        font-size: 14px; }

  .listing-page .listing-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 85vw; }
    .listing-page .listing-content .listing-left {
      width: 100%; }
      .listing-page .listing-content .listing-left .section-title aside {
        padding-bottom: 10px; }
        .listing-page .listing-content .listing-left .section-title aside > * {
          font-weight: 700; }
      .listing-page .listing-content .listing-left > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }

/*# sourceMappingURL=output.css.map */
