/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_self
*/
/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Calibre', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  line-height: 1.42;
  letter-spacing: 0.23px; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

.footer-container {
  position: relative; }
  .footer-container .row {
    display: flex; }
  .footer-container .col-sm-6 {
    width: 50%; }

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.ui-datepicker {
  color: #777777;
  border: 1px solid #ebebeb;
  padding: 10px;
  font-size: 15px; }

.ui-datepicker-header {
  font-weight: bold;
  text-align: center; }

.ui-datepicker-prev {
  float: left;
  cursor: pointer; }

.ui-datepicker-next {
  float: right;
  cursor: pointer; }

.ui-datepicker-title {
  font-weight: 700; }

.ui-datepicker-next, .ui-datepicker-prev {
  color: #40d9ac;
  font-weight: 700; }

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  z-index: 1; }
  header .nav-left {
    display: flex; }
  header .nav-right {
    padding: 0px 45px;
    display: flex; }
    header .nav-right a {
      box-sizing: border-box;
      color: #40d9ac;
      font-size: 16px;
      font-weight: 700; }
    header .nav-right a:hover {
      color: #777777;
      border-bottom: 1px solid #777777; }
    header .nav-right h2 {
      font-size: 16px;
      padding-top: 21px;
      padding-right: 200px;
      color: #777777; }
  header .logo {
    width: 255px;
    height: 41px;
    padding: 10px 20px 0px 20px;
    border-right: 1px solid #ebebeb; }
  header .discover-nav {
    font-size: 15px; }
    header .discover-nav .search {
      margin: 0px 10px;
      width: 80px; }
    header .discover-nav strong {
      font-weight: 700;
      margin-left: 5px; }
    header .discover-nav ul {
      display: flex; }
      header .discover-nav ul li {
        margin: 0px 10px;
        width: 60px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        vertical-align: center; }
        header .discover-nav ul li label {
          letter-spacing: 0.04em;
          font-weight: 200; }
    header .discover-nav li:hover {
      border-bottom: 2px solid #40d9ac; }
    header .discover-nav .search:hover {
      border-bottom: none; }

footer {
  background-color: #3e7e96;
  display: block;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px; }
  footer .footer-main {
    background-color: #41305C;
    background-image: url("https://res.cloudinary.com/deor0br3s/image/upload/v1522783892/tent_logo.png"), url("http://res.cloudinary.com/deor0br3s/image/upload/v1522783905/mountains_footer.png");
    background-position: bottom center;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 55px, auto 200px;
    padding-top: 5px;
    padding-bottom: 200px;
    color: #fff;
    background-position-x: 50%, 50%;
    background-position-y: 100%, 100%; }
    footer .footer-main .footer-container {
      padding-top: 30px;
      width: 80vw;
      margin: 0 auto; }
    footer .footer-main h5 {
      color: #70539f;
      margin-bottom: 20px;
      box-sizing: border-box; }
    footer .footer-main li, footer .footer-main a, footer .footer-main p {
      font-weight: 100;
      letter-spacing: 0.6px;
      font-size: 11px;
      line-height: 1.75; }
    footer .footer-main .footer-col {
      margin: 0px 30px 0px 30px; }
    footer .footer-main .left {
      margin: 21px 20px 0px 20px; }
  footer .footer-bottom {
    border-top: 5px solid #fde0ab;
    padding-top: 9px;
    padding-bottom: 8px;
    color: white;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    line-height: 18.176px;
    font-weight: 100; }
    footer .footer-bottom .bottom {
      font-weight: 100;
      width: 75vw;
      margin: 0 auto;
      letter-spacing: 0.4px;
      display: flex;
      justify-content: space-between; }
    footer .footer-bottom .pull-right {
      font-weight: 100;
      letter-spacing: 0.4px; }
    footer .footer-bottom .pull-left {
      font-weight: 100; }
    footer .footer-bottom a {
      font-weight: 100; }

.main-header {
  position: relative;
  display: flex;
  box-sizing: border-box;
  top: 110px;
  padding-bottom: 250px; }
  .main-header h2 {
    font-weight: 600;
    font-size: 64px;
    color: #33334D;
    line-height: 1.1;
    display: block; }
  .main-header .left {
    padding: 30px 150px; }
  .main-header .row {
    width: 50%; }
    .main-header .row .subtext {
      padding-top: 20px;
      padding-bottom: 30px; }
      .main-header .row .subtext h1 {
        color: #a1a1a1;
        font-weight: 200;
        font-size: 20px; }
      .main-header .row .subtext strong {
        font-weight: 700; }
    .main-header .row .main-search-box {
      width: 550px;
      height: 200px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      box-shadow: 0 1px 20px #ebebeb;
      -webkit-box-shadow: 0 1px 20px #ebebeb; }
      .main-header .row .main-search-box .location-search {
        box-sizing: border-box;
        height: 50%;
        display: flex;
        justify-content: space-between;
        color: #333333;
        padding: 0 15px; }
        .main-header .row .main-search-box .location-search > * {
          vertical-align: middle;
          line-height: 100px;
          letter-spacing: 0.7px; }
        .main-header .row .main-search-box .location-search .find-camping {
          color: #2d2d2d; }
        .main-header .row .main-search-box .location-search input {
          font-size: 18px; }
        .main-header .row .main-search-box .location-search i {
          font-size: 20px; }
      .main-header .row .main-search-box .dates-search {
        border-top: 1px solid #eeeeee;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        height: 50%;
        color: #333333; }
        .main-header .row .main-search-box .dates-search > * {
          letter-spacing: 0.7px;
          padding: 0 15px; }
        .main-header .row .main-search-box .dates-search .datepicker {
          border-right: 1px solid #eeeeee;
          vertical-align: middle;
          line-height: 100px;
          font-size: 16px;
          width: 35%; }
        .main-header .row .main-search-box .dates-search .search-button {
          background-color: #40d9ac;
          font-weight: 700;
          color: white;
          text-align: center;
          vertical-align: middle;
          line-height: 100px;
          width: 30%; }

.search-subtext {
  padding: 20px; }
  .search-subtext .discover-subtext {
    text-align: center;
    color: #333333;
    font-weight: 300;
    font-size: 14px; }

.main-header-image-footer {
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  text-align: right;
  font-size: 14px;
  padding: 10px;
  color: #a1a1a1; }
  .main-header-image-footer strong {
    color: #333333;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb; }

.discover-filters {
  width: 60vw;
  margin: 0 auto; }
  .discover-filters > h2 {
    text-align: center;
    font-weight: 700;
    color: #333333;
    padding-bottom: 30px; }
  .discover-filters .discover-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    padding-bottom: 150px; }
    .discover-filters .discover-grid .discover-square {
      display: flex;
      flex-direction: column;
      border: 1px solid #ebebeb;
      box-sizing: border-box; }
      .discover-filters .discover-grid .discover-square .crop {
        height: 100%;
        position: relative;
        width: 340px;
        height: 340px; }
        .discover-filters .discover-grid .discover-square .crop img {
          display: block;
          min-height: 100%;
          min-width: 100%;
          overflow: hidden;
          top: -100%;
          right: -100%;
          bottom: -100%;
          left: -100%;
          margin: auto;
          position: absolute; }
      .discover-filters .discover-grid .discover-square .discover-footer {
        background-color: white;
        margin: 10px; }
        .discover-filters .discover-grid .discover-square .discover-footer h2 {
          font-weight: 700;
          color: #333333;
          font-size: 20px; }
        .discover-filters .discover-grid .discover-square .discover-footer p {
          color: #a1a1a1;
          font-size: 14px;
          font-weight: 200;
          letter-spacing: 0.05em; }

.login-modal-form {
  display: none; }

.modal.is-open {
  display: block; }

.modal-screen {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.modal-form {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -220px;
  width: 300px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  z-index: 2; }
  .modal-form h3 {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    color: #333333; }
  .modal-form p {
    color: #777777;
    font-weight: 200;
    text-align: center; }
  .modal-form input {
    box-sizing: border-box;
    padding: 20px 15px;
    border: 0.5px solid #777777;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #2d2d2d; }
  .modal-form img {
    padding-bottom: 15px; }
  .modal-form .input {
    margin: 15px 0px; }
  .modal-form button {
    box-sizing: border-box;
    background-color: #40d9ac;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 20px 20px; }
  .modal-form .modal-footer {
    padding: 20px 0px;
    font-size: 14px; }
    .modal-form .modal-footer p {
      color: #2d2d2d; }
    .modal-form .modal-footer a {
      padding-top: 10px;
      text-decoration: underline;
      font-weight: 700; }

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer; }

.modal-close:hover {
  color: #f00; }

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300; }

.modal-form > p {
  margin: 0 0 20px 0; }

.auth-errors {
  padding-bottom: 5px;
  color: #8b0000; }

/*# sourceMappingURL=output.css.map */
